@model netka_pi.Models.IssueLogData
@{
    ViewData["Title"] = "Add Issue Log";
}

<div class="page-header">
    <div class="pull-left">
        <h1>Add Issue Log</h1>
    </div>
    <div class="pull-right">
    </div>
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a href="#">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">Process Issue</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">Add Issue Log</a>
        </li>
    </ul>
    <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="box box-bordered">
            <div class="box-title">
                <h3><i class="icon-th-list"></i> Issue</h3>
            </div>
            <div class="box-content nopadding">
                 @using (Html.BeginForm("add_pi_process", "PI", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-bordered" }))
                 {
                        <div class="control-group">
                            <label for="IssueNO" class="control-label">Issue No.</label>
                            <div class="controls">
                                <input type="text" name="Issue_No" id="Issue_No" placeholder="" class="input-small" value="@ViewBag.new_issue_no">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="OriginatorName" class="control-label">Originator name</label>
                            <div class="controls">
                                <input type="text" name="Originator_Name" id="Originator_Name" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="DateRaised" class="control-label">Date Raised</label>
                            <div class="controls">
                                <input type="text" name="Date_Raised" id="Date_Raised" placeholder="" class="input-medium datepicker">
                                <span class="help-block">Date format -> mm/dd/yy</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="ItemName" class="control-label">Item Name</label>
                            <div class="controls">
                                <input type="text" name="Item_Name" id="Item_Name" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="Title" class="control-label">Title</label>
                            <div class="controls">
                                <input type="text" name="Title" id="Title" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="Process" class="control-label">Process</label>
                            <div class="controls">
                                <select name="Process" id="Process" class='input-xlarge'>
                                    <option value="">Please select</option>
                                    <option value="Agreement Management (AM)">Agreement Management (AM)</option>
                                    <option value="Capacity and Availability Management (CAM)">Capacity and Availability Management (CAM)</option>
                                    <option value="Causal Analysis and Resolution (CAR)">Causal Analysis and Resolution (CAR)</option>
                                    <option value="Configuration Management (CM)">	Configuration Management (CM)</option>
                                    <option value="Decision Analysis and Resolution (DAR)">Decision Analysis and Resolution (DAR)</option>
                                    <option value="Integrated Project Management (IPM)">Integrated Project Management (IPM)</option>
                                    <option value="Measurement and Analysis (MA)">Measurement and Analysis (MA)</option>
                                    <option value="Organizational Process Definition (OPD)">Organizational Process Definition (OPD)</option>
                                    <option value="Organizational Process Focus (OPF)">Organizational Process Focus (OPF)</option>
                                    <option value="Organizational Performance Management (OPM)">Organizational Performance Management (OPM)</option>
                                    <option value="Organizational Process Performance (OPP)">Organizational Process Performance (OPP)</option>
                                    <option value="Organizational Training (OT)">Organizational Training (OT)</option>
                                    <option value="Product Integration (PI)">Product Integration (PI)</option>
                                    <option value="Project Monitoring and Control (PMC)">Project Monitoring and Control (PMC)</option>
                                    <option value="Project Planning (PP)">Project Planning (PP)</option>
                                    <option value="Process and Product Quality Assurance (PPQA)">Process and Product Quality Assurance (PPQA)</option>
                                    <option value="Quantitative Project Management (QPM)">Quantitative Project Management (QPM)</option>
                                    <option value="Requirements Development (RD)">Requirements Development (RD)</option>
                                    <option value="Requirements Management (REQM)">Requirements Management (REQM)</option>
                                    <option value="Risk Management (RSKM)">Risk Management (RSKM)</option>
                                    <option value="Supplier Agreement Management (SAM)">Supplier Agreement Management (SAM)</option>
                                    <option value="Technical Solution (TS)">Technical Solution (TS)</option>
                                    <option value="Validation (VAL)">Validation (VAL)</option>
                                    <option value="Verification (VER)">Verification (VER)</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="IssueDescription" class="control-label">Issue Description</label>
                            <div class="controls">
                                <textarea name="Issue_Description" id="Issue_Description" rows="5" class="input-block-level"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn">Cancel</button>
                        </div>
                    }
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('#date_raised').datepicker({ format: 'mm/dd/yy' });
    </script>
}

